
{% extends "base.html" %}
{% block head %}
 {{ super() }}
{% endblock %}
{% block body %}
<br> 
<br> 
<br> 
<br> 
<h2>When you want recommendations, but don't want them THAT accurate</h2>
<br> 

<img src="./static/sPoTiFy.png" alt="Bad Logo">


<div>

    <p style="text-align: left; padding-left: 5%;"> <b> Main developer:</b> Marissa Montano</p>
    <br>
    <p style="text-align: left; padding-left: 5%;"> <b>Git Repository:</b> &#60user&#62@lind2802:/repositories/mamo0245/DummyProj.git </p>
    <br>
    <p style="text-align: left; padding-left: 5%;"> <b>Office:</b> Middle row, Last table</p>

</div>

{% endblock%}